body {
  text-align: center !important;
}

body > div:first-of-type {
  display: block;
  float: none !important;
}

[data-role="month-navigator"] {
  width: 50% !important;
  min-width: 100px;
  margin: 20px auto;
}

#calendar, #calendar + div {
  text-align: center;
}

#calendar .wrap .month {
  display: inline-block;
  float: none;
}
